/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.phpunit.result.cache
.phpstorm.meta.php
Homestead.yaml
Homestead.json
/.vagrant
/.idea
/.vscode

/.phpunit.result.cache

composer.lock
npm-debug.log
yarn-error.log

.DS_Store
Thumbs.db
